@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --blue-color: #075985;
    --yellow: #ca8a04;
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    
    background-color: lightgray;
    
}

svg {
    width: 30px;
    fill: currentColor;
    padding: 5px;
}



#side-nav {
    background-color: var(--blue-color);
    width: 170px;
    height: 100vh;
    position: fixed;
}

.nav-title {
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    margin-left: 25px
     
}

.nav-item {
    display: flex;
    justify-content: start;
    margin: 5px 25px;
    align-items: center;
    color: white;
    
}

.nav-item svg {
    width: 25px;
    fill: currentColor;
    padding: 5px;
}

#header-content {
    margin-left: 170px;
    background-color: lightgray;    
    height: 100vh;
    display: flex;
    flex-direction: column;
    }

header {
    min-height: 140px;
    height: fit-content;
    background-color: white;
    box-shadow: 0 4px 8px -4px gray;
}

#header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#search {
    height: 20px;
}
#header-top form input {
    background-color: lightgray;
    border: none;
    border-radius: 10px;
    width: 250px;
}
#header-top #bell {
    margin: 10px;
    margin-left: auto;
    

}
#header-top img {
    height: 50px;
    margin: 10px;

}

#header-top h3 {
    margin: 0 15px;
}

#header-bot {
    display: flex;
    align-items: center;
    padding: 10px;
   

    img {
        height: 40px;
    }
}
#header-text {
    margin-right: auto
}
.header-button {
    color: white;
    background-color: var(--blue-color);
    border: none;
    width: 70px;
    margin: 10px;
    border-radius: 15px;
    padding: 5px 10px;
}
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#main-content {
    width: calc(100vw -170px);
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 200px;

    
    display: flex;
    flex-wrap: wrap;
}

.project {
    border-left: 5px solid var(--yellow);
    min-width: 200px;
    flex: 1 1 45%;
    border-radius: 10px;
    margin: 10px;
    
    height: 200px;
    background-color: white;
    box-shadow: 0 4px 8px -4px gray;
    display: flex;
    flex-direction: column;
    
   

}
h1 {
    padding: 10px 20px;
}
.project-title {
    padding: 5px 10px;
    width: fit-content;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 7px;
}
.project-text {
    padding: 5px 10px;
        font-size: 14px;
    color: gray;
}
.project-icons {
    padding: 5px 10px;
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    
}

#trending {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    

}

.trending {
    width: 92%;
    min-height: 350px;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px -4px gray;
    }
   
.ann-item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 1fr;
    border-bottom: solid lightgray;
    font-size: 15px;
}

.bot-item {
    border: none;
}

.trending-item {
    height: 20%;
    padding: 10px;
    display: flex;
    align-items: center;
    img {
        height: 50px;
        margin-right: 10px;
    }
}
.trending-text {
    font-size: 12px;
    h5 {
        font-size: 16px;
    }
}