@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --blue-color: #075985;
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    
    background-color: lightgray;
    
}

svg {
    width: 30px;
    fill: currentColor;
    padding: 5px;
}



#side-nav {
    background-color: var(--blue-color);
    width: 170px;
    height: 100vh;
    position: fixed;
}

.nav-title {
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    margin-left: 25px
     
}

.nav-item {
    display: flex;
    justify-content: start;
    margin: 5px 25px;
    align-items: center;
    color: white;
    
}

.nav-item svg {
    width: 25px;
    fill: currentColor;
    padding: 5px;
}

#header-content {
    margin-left: 170px;
    background-color: lightgray;    
    height: 100vh;
    display: flex;
    flex-direction: column;
    }

header {
    min-height: 100px;
    background-color: white;
    box-shadow: 0 4px 8px -4px gray;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#main-content {
    width: calc(100vw -170px);
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 200px;
    
    display: flex;
    flex-wrap: wrap;
}

.project {
    border-left: 3px solid var(--blue-color);
    min-width: 200px;
    flex: 1 1 45%;
    border-radius: 10px;
    margin: 10px;
    height: 200px;
    background-color: white;
    box-shadow: 0 4px 8px -4px gray;

}

#trending {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    

}

.trending {
    width: 92%;
    min-height: 350px;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px -4px gray;
    }
   
